<beans>

    <bean id="userService" class="cn.gly.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"></property>
    </bean>

    <bean id="userMapper" class="cn.gly.mapper.UserMapperImpl">
        <property name="mybatisInit" ref="mybatisInit"></property>
    </bean>

    <bean id="mybatisInit" class="cn.gly.MybatisInit" init-method="initSqlSessionFactory">
        <property name="mybatisConfigPath" value="mybatis-config.xml"></property>
    </bean>
</beans>