<mapper namespace="cn.gly.mapper.UserMapper">

    <!-- select标签，封装了SQL语句信息、入参类型、结果映射类型 -->
    <select id="queryUserByParams" resultType="cn.gly.entity.User" statementType="prepared">

        SELECT * FROM user WHERE sex = #{sex} AND username like '%${username}'
        <if test="username != null and username !='' ">
            AND username like '%${username}'
            <if test="username != null and username !=''">
                AND 1=1
            </if>
        </if>
    </select>
    <select id="queryUserByParams2" resultType="cn.gly.entity.User" statementType="prepared">
        SELECT * FROM user WHERE sex = #{sex}
    </select>
</mapper>